<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/backend/emp/listAllEmp.jsp</url-pattern>    
    <url-pattern>/backend/emp/addEmp.jsp</url-pattern>    
    <url-pattern>/backend/emp_index.jsp</url-pattern>    
    <url-pattern>/backend/auth/update_auth.jsp</url-pattern>    
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp/emp.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.auth.controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth/auth.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>com.hotel.controller.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/hotel/hotel.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.room.controler.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/room/room.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomPhotoServlet</servlet-name>
    <servlet-class>com.roomphoto.controler.RoomPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomPhotoServlet</servlet-name>
    <url-pattern>/roomphoto/roomphoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/backend/ord/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>DBGifReader4</servlet-name>
	<servlet-class>com.ord.controller.DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>DBGifReader4</servlet-name>
	<url-pattern>/backend/ord/DBGifReader4</url-pattern>
  </servlet-mapping>	
  
  <servlet>
    <servlet-name>AndroindHotelServlet</servlet-name>
    <servlet-class>android.Hotel.Hotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroindHotelServlet</servlet-name>
    <url-pattern>/android/hotel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidRoomServlet</servlet-name>
    <servlet-class>android.Room.Room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRoomServlet</servlet-name>
    <url-pattern>/android/room.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>