.btnwish{
	opacity: 0.9;
    background: #d44a97;
    color: #ffffff;
    
    font-weight: bold;
    font-family: Tahoma, Verdana, 微軟正黑體;
    border: 0px;	
}
.btnwish1{
	opacity: 0.9;
    background: #0283df;
    color: #ffffff;
    
    font-weight: bold;
    font-family: Tahoma, Verdana, 微軟正黑體;
    border: 0px;	
}

#gotop1 {
		heigh:50px;
        width: 50px;
        position: fixed;
        bottom: 45px;
        cursor: pointer;
        z-index: 99998;
        right: 50%;
        margin-right: -920px;
        font-family:Tahoma, Verdana, 微軟正黑體;
        text-align:center;
        font-weight:bold;
    }    
    
    #gotop1:hover {
        animation: rubberBand 1s;
    }
    
    @keyframes rubberBand {
        from {
            transform: scale3d(1, 1, 1);
        }
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
        65% {
            transform: scale3d(.95, 1.05, 1);
        }
        75% {
            transform: scale3d(1.05, .95, 1);
        }
        to {
            transform: scale3d(1, 1, 1);
        }
    }
* {
    /*全套用*/
    margin: 0px;
    font-family: Tahoma, Verdana, Arial;
}

#skin {
    /*標題*/
    /*border:1px solid red; /*外框線*/
    */ width: 100%;
    /*只用80%*/
    margin: 0px auto;
    /*致中 */
    background: #ffffff;
}

#LogoImg {
    /*logo*/
    display: inline-block;
    /*左至右 */
    /*padding-right: 1170px;
    padding-left: 200px;*/
    width: 220px;
    margin-top: 0px
}

.btn {
    /*右上導覽列Transparent*/
    
    font-family:Tahoma, Verdana, 微軟正黑體;
    background-color:Transparent;
    /*按鈕去被*/
    margin-bottom: 2px;
    border: 0px;
    margin-top: 22px;
    
}

#top_header {
    /*border: 5px solid red;*/
    /* 外框線*/
    width: 100%;
    height: 800px;
    position: relative;
    z-index: 1;
}

#top_header1 {
    background:gray;
    /*border: 4px solid red;*/
    /* 外框線*/
    display: none;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;

}

.img {
    /*首頁大圖*/
    /*border: 20px solid;    
    border-color: #ffffff;*/
    width: 100%;
    height: 800px;
    /*margin-left: -15px;*/
}

#searchTitle {
    text-align: center;
    font-family: Tahoma, Verdana, 微軟正黑體;
}

#fade {
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -3;
}

#title {
    /*圖上大字*/
    z-index: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 42%;
    z-index: 1;
}

#buttnOnimg {
    opacity: 0.9;
    text-align: center;
    z-index: 0;
    background: #0283df;
    color: #ffffff;
    position: absolute;
    top: 65%;
    left: 46.5%;
    z-index: 0;
    font-weight: bold;
    


    border: 0px;
    border-radius: 10px;
    padding: 2px;
    font-size: 20px;
}
.dropdown-menu a{
    font-family: Tahoma, Verdana, 微軟正黑體;
}
.dropdown-menu > li:hover {
    background-color:#fc3a63; 
} 
.title1 {
    margin: 0px;
    text-align: center;
    font-family: Tahoma, Verdana, 微軟正黑體;
}
.htmleaf-container{
	margin-top:3%;
	margin-bottom:-4%;
}

.title2 {
    margin: 50px;
    text-align: center;
    font-family: Tahoma, Verdana, 微軟正黑體;
}

.title4 {
    text-align: center;
    font-family: Tahoma, Verdana, 微軟正黑體;
    margin: 40px
}
.title5 {
    text-align: center;
    font-family: Tahoma, Verdana, 微軟正黑體;
    margin: 40px
}

#searchbgcolor th {
    font-size: 27px;
    font-family: Tahoma, Verdana, 微軟正黑體;
}
.option{
    font-family: Tahoma, Verdana, 微軟正黑體;
    font-size: 16px;
}
#seach {
    border: 1px solid #BBBBBB; 
    background: #fff; 
    /* 邊角圓弧化，不同瀏器覧設定不同　*/
    -moz-border-radius:3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    border-radius: 4px;
    margin-right: 7px;
    font-family: Tahoma, Verdana, 微軟正黑體;
    font-size: 15px;
}

#submit {
    /*搜尋鈕*/
    margin-left: 5px;
    background: #0283df;
    font-weight: bold;
    font-family: Tahoma, Verdana, 微軟正黑體;
    border: 0px;
    border-radius: 10px;
    padding: 1px;
    color: #ffffff;
    font-size: 18px
}

#mapSubmit {
    /*搜尋鈕*/
    margin-left: 5px;
    background: #d44a97;
    font-weight: bold;
    font-family: Tahoma, Verdana, 微軟正黑體;
    border: 0px;
    border-radius: 10px;
    padding: 2px;
    color: #ffffff;
    font-size: 21px;
}

#searchbgcolor table {
    /*置中*/
    margin-left: auto;
    margin-right: auto;
}

#searchbgcolor {
    /*搜尋列背景*/
    padding-top: 7px;
    height:55px;
    background: lightgray;
    opacity: 0.8;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
    margin-top: 10px;
    
}

.bannerUl {
    /*廣告小圖的框*/
    width: 1600px;
    height: 350px;
    margin: 30px auto;
}

.cityList {
    width: 1600px;
    height: 350px;
    margin: 0px auto;
}

.slider_container {
    /*廣告小圖條版面*/
    margin: 80px auto;
    display: inline-block;
    margin-left: 10px;
}

.btnOfLeft {
    /*廣告左控制鈕*/
    background: #FFFFFF;
    border: 0px;
    margin-top: 8px;
    margin-right: 30px;
    opacity: 0.3;
}

.btnOfRight {
    /*廣告右控制鈕*/
    background: #FFFFFF;
    border: 0px;
    margin-top: 8px;
    margin-left: 30px;
    opacity: 0.3;
}

.dot {
    /*方便閱讀的鈕(點)*/
    background: #ffffff;
    padding: 3px;
    border-radius: 30px;
    margin-bottom: 80px;
}

#slideshow {
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    height: 800px;
    z-index: 0;
    margin-bottom: 50px;
}

.imggg {
    position: static;
    z-index: -1;
    width: 100%;
    height: 800px;
}

.sectionCity {
    /*精選人氣城市圖設定版型*/
    margin: 30px auto;
    display: inline-block;
    margin-bottom: 80px;
    margin-left: 10px;
}

.sectionCity1 {
    /*精選人氣城市圖設定版型*/
    margin: 30px auto;
    display: inline-block;
    margin-bottom: 80px;
    margin-left: -85px;
}

footer #list {
    /* 列表設定*/
    font-family: Tahoma, Verdana, 微軟正黑體;
    color: #ffffff;
}

#listHouse a {
    text-decoration: none;
    color: white;
}

#listHouse h3 {
    color: white;
}

#the_footer {
    /*第一個FOOTER設定*/
    /*clear:both; /*清除浮動元件*/
    /*border-top: 1px solid #aaa;*/
    background: #5B5B5B;
    padding: 8px;
    margin-top: 100px;
}

#the_footer1 {
    /*第二個FOOTER設定*/
    clear: both;
    /*清除浮動元件*/
    border-top: 1px solid #aaa;
    background: #3C3C3C;
    padding: 8px;
}

.app {
    border: 0px;
    background: #5B5B5B;
}

#the_footer1 h4 {
    font-family: Tahoma, Verdana, 微軟正黑體;
    color: #ffffff;
}

#the_footer1 h3 {
    font-family: Tahoma, Verdana, 微軟正黑體;
    color: #ffffff;
}

#the_footer1 img {
    /*間距設定*/
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.sectionAddress {
    margin: 30px auto;
    display: inline-block;
    margin-bottom: 80px;
    margin-left: 20px;
}


/*#portfolio{
    width: 1300px;
     text-align:center
}
.work{
    position: relative;
    float: left;
    width: 30%;
    margin-top: 30px
}
.caption{
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background: rgba(200,100,100,.7);
    padding: 177px;
    width: : 100%;
    height: 100%;

}*/


/*#myMovie {
    margin-top: 100px;
   
}*/

#add {
    opacity: 0.6;
}



.item {
    font-family: Tahoma, Verdana, 微軟正黑體;
    height: 400px;
    padding: 10px;
    border: 10px;
    max-width: 100%
    
}

.item .img-responsive {
    height: 200px;
    
}

.item h4 {
    font-size: 24px;
}

#del {
    color: red;
    font-size: 16px;
    font-family: Tahoma, Verdana, 微軟正黑體;
    margin-right:7px;
}
.count{
	font-family: Tahoma, Verdana, 微軟正黑體;
    margin-right:7px;
    color:#408080;
}
#tonight {
    color: gray;
    font-size: 18px;
    font-family: Tahoma, Verdana, 微軟正黑體;
}

#TWD {
    font-size: 20px;
    font-family: Tahoma, Verdana, 微軟正黑體;
    margin-right:7px;
    color:#000075;
}

.borderOfBanner {
    padding: 10px
}
div.onsaledemo:hover{
    background-color:#e1e1e1;
}


