<?xml version="1.0" encoding="UTF-8"?>
	<Context antiResourceLocking="false" crossContext="true" privileged="true" reloadable="true">

    <Resource 
    		name="jdbc/TestDB" 
    		auth="Container" 
    		type="javax.sql.DataSource" 
    		driverClassName="oracle.jdbc.driver.OracleDriver" 
    		url="jdbc:oracle:thin:@localhost:1521:XE" 
    		username="scott"
    		password="tiger" 
    		maxActive="20" 
    		maxIdle="10" 
    		maxWait="-1" 
    		/> 

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

</Context>