#files {
    margin-top: 5%;
    text-align: center;
}

.monkeyb-cust-file {
	margin-top:3%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: #0283df;
    color: #fff;
    text-align: center;
    -web-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 20px;
    font-family: Arial, Microsoft JhengHei;
}

.monkeyb-cust-file input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#empName{
	color:white;
}
.titletext{
	margin-top:5px;
	font-size: 28px;
	font-family: Tahoma, Verdana, 微軟正黑體;
}

.UserName {
	font-size: 25px;
	margin-top: 12px;
	margin-right: 20px;
	padding: 5px 27px;
	background: white;
	border: 1 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#empName{
	color:white;
}
body {
	font-family: Tahoma, Verdana, 微軟正黑體;
}
.LoginButton{    
    z-index: 1;
    background: #dc6eab;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-family: Tahoma, Verdana, 微軟正黑體;
    padding: 10px;
    font-size:20px;
    border: 0px;
    border-radius: 5px;
    width:235px;
}